body {
    background-image : url("images/BDDB0036-6F53-41C8-876F-59154DB48640.jpeg");
}

#container {
    width: 800px;
    margin: auto;
    background-image : url("images/A52170B2-0FFE-48BE-808E-C7399D11FB5E.jpeg");
}

header {
    padding: 80px;
    height: 80px;
    color: white;
    font-size: 40px;
}

nav {
    padding: 8px 40px;
    background-color: white;
    color: white;
    font-size: 17px;
}

#contents{
    padding: 140px;
    color: white;
    font-size: 20px;
    height : 400px;
}
footer {
    background-image : url("images/F1CDFDF6-507F-4BE1-8EC1-A761CBF8991F.jpeg");
    padding: 40px;
    height: 40px;
    font-size: 19px;
    color: black;
    
}
